@import "./reset.css";

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #8794ba;
  background: #f8f9ff;
  overflow-x: hidden;
}

.none {
  display: none;
}

.header {
  background-image: url("../img/header/header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 815px;
}

.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.175;
  color: #172755;
}

.text {
  line-height: 1.5;
}

.header__top {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
}

.header__logo {
  margin-right: 82px;
}

.menu {
  margin-right: auto;
}

.menu__list {
  display: flex;
  column-gap: 36px;
}

.menu__link {
  color: #8794ba;
  text-align: center;
  display: inline-block;
  transition: transform 0.3s ease-in;
}

.menu__link:hover {
  color: #ef2a82;
  transform: scale(1.3);
}

.menu__link:active {
  position: relative;
  top: 1px;
}

.sign {
  display: flex;
  column-gap: 40px;
}

.sign__in-btn {
  display: inline-block;
  transition: transform 0.3s ease-in;
}

.sign__in-btn:hover {
  color: #ef2a82;
  transform: scale(1.3);
}

.sign__up-btn {
  display: inline-block;
  height: 40px;
  padding-left: 53px;
  padding-right: 53px;
  border: 1px solid #465b95;
  border-radius: 68px;
  line-height: 40px;
  transition: background 0.3s ease-in, color 0.3s ease-in, border 0.3s ease-in;
}

.sign__up-btn:hover {
  background: #ef2a82;
  color: #172755;
  border: 1px solid #ef2a82;
}

.sign__up-btn:active {
  position: relative;
  top: 1px;
}

.header__row {
  padding-top: 71px;
  padding-bottom: 60px;
  display: flex;
  align-items: center;
  column-gap: 81px;
  padding-left: calc((100% - 1210px) / 2 + 15px);
  overflow-x: hidden;
}

.header__content {
  max-width: 550px;
  flex-shrink: 0;
  margin-bottom: 78px;
}

.header__title {
  margin-bottom: 15px;
  font-size: 50px;
  line-height: 1.2;
  font-weight: 700;
  color: #fff;
}

.header__text {
  margin-bottom: 49px;
}

.header__text>p {
  margin-bottom: 15px;
}

.btn {
  display: inline-block;
  height: 50px;
  padding: 0 80px;
  border-radius: 68px;
  font-size: 16px;
  line-height: 50px;
  color: #fff;

  transition: background 0.3s ease-in, color 0.3s ease-in;
}

.btn:hover {
  background: #f8f9ff;
  color: #0f1f4b;
}

.btn:active {
  position: relative;
  top: 1px;
}

.btn--red {
  background: #ef2a82;
}

.btn--back-dark:hover {
  background: #0f1f4b;
  color: #f8f9ff;
}

.btn-border {
  border: 1px solid #2a407c;
}

.header__img {
  position: relative;
  flex-shrink: 0;
  margin-left: 68px;
}

.header__img img {
  box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.2);
  border-radius: 30px;
}

.header__img::before {
  position: absolute;
  content: "";
  background-image: url("../img/header/screen-chart.svg");
  background-repeat: no-repeat;
  width: 361px;
  height: 247px;
  left: -69px;
  top: 124px;
  box-shadow: 0px 19.2249px 53.4024px -16.0207px rgba(25, 42, 89, 0.2);
  border-radius: 32.0414px;

}

.main {
  padding-top: 38px;
  padding-bottom: 109px;
}

/* ====================Main Features=============== */
.features {
  padding-bottom: 130px;
}

.features__top {
  text-align: center;
}

.features__title {
  margin-bottom: 30px;
}

.features__text {
  margin: 0 auto 81px;
  max-width: 1060px;
}

.features__text>p {
  margin-bottom: 15px;
}

.features__row {
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  align-items: center;
  column-gap: 100px;
}

.features__column {
  width: 380px;
  text-align: center;

}

.features__column-img {
  margin-bottom: 26px;
}

.features__column-title {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.1875;
  color: #172755;
}

.features__column-desc {
  font-size: 16px;
  line-height: 1.375;
}

.automated {
  padding-bottom: 114px;
}

.automated__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.automated__row+.automated__row {
  margin-top: 120px;
}

.automated__row:nth-child(even) {
  flex-direction: row-reverse;
}

.automated__column {
  width: 480px;
  flex-shrink: 0;
}

.automated__column-title {
  margin-bottom: 30px;
}

.automated__column-text>p {
  margin-bottom: 15px;
}

.automated__column-img {
  width: 600px;
  box-shadow: 0px 18px 50px -15px rgb(25 42 89 / 20%);
  border-radius: 30px;
}

/* ====================/Main Features=============== */

.price {
  background-image: url("../img/price/price-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 1086px;
}

.price__top {
  padding-top: 272px;
  padding-bottom: 80px;
  text-align: center;
}

.price__top-title>* {
  padding-bottom: 30px;
  color: #fff;
}

.price__top>p {
  width: 650px;
  margin: 0 auto 15px;
}

.price__card {
  display: flex;
  justify-content: space-between;
  gap: 80px;
}

.card {
  width: 340px;
  background-color: #0f1f4b;
  box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.2);
  border-radius: 30px;
  text-align: center;
}

.card-white {
  background-color: #fff;
  box-shadow: 0px 18px 50px -15px #060f28;
}

.card__content {
  padding: 50px 60px 70px 60px;
}

.card__top {
  border-bottom: 1px solid #d3d9e9;
}

.card__top--border-color {
  border-bottom: 1px solid #2a407c;
}

.card__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.166;
  color: #fff;
}

.card__text {
  font-size: 18px;
  line-height: 1.5;
  padding-bottom: 37px;
}

.card__inner {
  margin-top: 28px;
  margin-bottom: 40px;
}

.card__inner-cost {
  font-weight: 700;
  font-size: 60px;
  line-height: 1.166;
  color: #fff;
}

.card--color {
  color: #172755;
}

.card__inner-cost span {
  font-size: 30px;
}

.card__inner-descr {
  font-size: 16px;
  line-height: 1.375;
}

/* =================================== */
.companies {
  padding-top: 109px;
  max-width: 962px;
  margin: 0 auto;
}

.companies__row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 46px;
}

.companies__column {
  width: 480px;
  height: 480px;
  position: relative;
}

.companies__column--mini-size {
  width: 431px;
  flex-shrink: 0;
}

.companies__title {
  margin-bottom: 75px;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.25;
  color: #160637;
}

.companies__descr {
  margin-bottom: 51px;
  position: relative;
  text-align: center;
}

.companies__descr::before,
.companies__descr::after {
  position: absolute;
  content: "";
  width: 144px;
  height: 2px;
  background: #d6d6d6;
  top: 50%;
  transform: translateX(-50%);
}

.companies__descr::before {
  left: 24px;
}

.companies__descr::after {
  right: -112px;
}

.companies__icons {
  width: 305px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 70px;
  column-gap: 105px;
}

.companies__icons-accenture,
.companies__icons-react,
.companies__icons-airbnb,
.companies__icons-sky {
  fill: #8989a2;

  transition: fill 0.3s ease-in;
}

.companies__icons-accenture:hover {
  fill: #ef2a82;
}

.companies__icons-react:hover {
  fill: #ef2a82;
}

.companies__icons-airbnb:hover {
  fill: #ef2a82;
}

.companies__icons-sky:hover {
  fill: #ef2a82;
}

.companies__column+.companies__column {
  background: #f9f0ff;
  border-radius: 4px;
}

.companies__column-inner {
  position: absolute;
  left: 26px;
  top: -42px;
  padding: 32px 40.5px;
  width: 428px;
  background-color: #fff;
  box-shadow: 4px 4px 12px rgba(137, 137, 162, 0.122);
  border-radius: 8px;
}

.companies__column-title {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.333;
  color: #160637;
  text-align: center;
}

.form__authorization {
  margin-bottom: 16px;
}

.form__authorization>*+* {
  margin-top: 16px;
}

.form__auth-btn {
  padding-left: 105px;
  padding-right: 104px;
  line-height: 48px;
  height: 48px;
  border-radius: 4px;
  background: #722ed1;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;

  transition: background 0.3s ease-in;
}

.form__auth-btn:hover {
  background: #ef2a82;
}

.form__auth {
  padding: 16px;
  width: 100%;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  color: #2a407c;
}

.form__auth::placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  color: #8989a2;
}

.companies__stars {
  text-align: center;
  font-weight: 500;
}

.companies__stars-title {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.187;
  color: #000000;
}

.rating-area {
  width: 265px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: row-reverse;
}

.rating-area:not(:checked)>input {
  display: none;
}

.rating-area:not(:checked)>label {
  margin-right: 15px;
  width: 15px;
  padding: 0;
  cursor: pointer;
  font-size: 20px;
  line-height: 32px;
  color: lightgrey;
}

.rating-area:not(:checked)>label:before {
  content: "★";
}

.rating-area>input:checked~label {
  color: gold;
}

.rating-area:not(:checked)>label:hover,
.rating-area:not(:checked)>label:hover~label {
  color: gold;
}

.rating-area>input:checked+label:hover,
.rating-area>input:checked+label:hover~label,
.rating-area>input:checked~label:hover,
.rating-area>input:checked~label:hover~label,
.rating-area>label:hover~input:checked~label {
  color: gold;
}

.rate-area>label:active {
  position: relative;
}

.companies__stars-text {
  padding-top: 16px;
  font-size: 14px;
  line-height: 1.142;
  border-top: 1px solid rgba(137, 137, 162, 0.48);
}

.companies__stars-text a {
  color: #722ed1;
}

.footer {
  background: #1f2f5c;
}

.footer__row {
  padding: 64px 0px 60px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__menu-list {
  display: flex;
}

.footer__menu-item+.footer__menu-item {
  margin-left: 36px;
}

.footer__menu-link {
  font-size: 14px;
  line-height: 1.142;
  color: #8794ba;

  transition: color 0.3s ease-in;
}

.footer__menu-link:hover {
  color: #ef2a82;
}

.footer__social-list {
  display: flex;
  align-items: center;
}

.footer__social-item+.footer__social-item {
  margin-left: 20px;
}

.footer__social-link {
  fill: #8794ba;
  border-radius: 8px;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 10px;
  padding-bottom: 6px;
  background-color: transparent;

  transition: fill 0.3s ease-in, background-color 0.3s ease-in;
}

.footer__social-link:hover {
  fill: #ef2a82;
  background-color: #fff;
}

/*--------------------Меню--------------------*/
.menu__icon {
  display: none;
}

@media (max-width: 768px) {
  .sign__up-btn {
    display: none;
  }

  .automated__row {
    flex-wrap: wrap;
  }

  .menu__icon {
    display: block;
    width: 30px;
    height: 18px;
    position: relative;
    z-index: 5;
    cursor: pointer;
  }

  .menu__icon span {
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #8794BA;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }

  .menu__icon span:first-child {
    top: 0;
  }

  .menu__icon span:last-child {
    top: auto;
    bottom: 0;
  }

  .menu__icon.active span {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  .menu__icon.active span:first-child {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .menu__icon.active span:last-child {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

@media (max-width: 768px) {
  .menu__body {
    position: absolute;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    z-index: 1;
  }
}

.menu__body.active {
  left: 0;
}

.menu__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

@media (max-width: 768px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 30px;
    gap: 0;
    height: 100%;
    width: 50%;
    background-color: #172755;
    overflow: auto;
  }
}

.menu__link {
  text-decoration: none;
}

.menu__link:hover {
  text-decoration: #ef2a82;
}

@media (max-width: 768px) {
  .menu__link {
    display: block;
    font-size: 18px;
    line-height: 50px;
  }
}

/*--------------------/Меню--------------------*/

/*--------------------Heder--------------------*/

@media (max-width:375px) {
  .main {
    padding-top: 0px;
    padding-bottom: 35px;
  }

  .header__logo {
    width: 138px;
    height: 30px;
    margin: 0px;
  }

  .header__top {
    font-size: 14px;
    padding-top: 15px;
  }

  .header__content {
    width: 335px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 26px;
  }

  .header__row {
    padding: 0;
    flex-direction: column-reverse;
  }

  .header__title {
    font-size: 31px;
    Line-height: 37px;
    margin-top: 26px;
  }

  .header__text {
    margin-bottom: 26px;
    font-size: 18px;
  }

  .header__text>p {
    margin-bottom: 0px;
  }

  .header__img::before {
    display: none;
  }

  .header__img img {
    width: 335px;
    height: 231px;
    margin-left: -34px;
    margin-top: 29px;
    padding: 5px;
  }

  /*--------------------/Heder--------------------*/

  /* ====================Main Features=============== */
  .features {
    padding-bottom: 71px;
  }

  .features__top {
    text-align: left;
    padding: 0px 20px;
  }

  .features__title {
    padding: 0px 0px;
  }

  .features__row {
    flex-wrap: wrap;
    padding: 0px 20px;
  }

  .features__column {
    display: flex;
    text-align: left;
    margin-bottom: 35px;
    width: 334px;
    align-items: center;
  }

  .features__column-title {
    padding: 0px 20px;
  }

  .features__column-title {
    margin-bottom: 9px;

  }

  .features__column-title p {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;

  }

  .features__column-img {
    margin-right: 27px;
    margin-bottom: 61px;
    margin-top: 2px;
  }

  /* ====================/Main Features=============== */

  /* ====================Automated=============== */
  .automated__column {
    width: 335px;
    align-items: center;
  }

  .automated__column-title h2 {
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;

  }

  .automated__column-text p {
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
  }

  .automated__row+.automated__row {
    margin-top: 60px;
  }

  .automated {
    padding-bottom: 73px;
  }

  /* ====================/Automated=============== */

  /* ====================price=============== */
  .price__top {
    display: flex;
    padding-bottom: 34px;

  }

  .price__top-title h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
  }

  .price__top-title p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #8794BA;
    text-align: left;
    margin-top: 0px;
  }

  .card {
    width: 280px;
  }


  .price__card {
    justify-content: start;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: scroll;
  }

  .price__card .btn {
    display: inline-block;

    height: 50px;
    padding: 15px 83px;
    border-radius: 68px;
    font-size: 16px;
    line-height: 19px;
    transition: background 0.3s ease-in, color 0.3s ease-in;
  }

  .card__content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }

  /* ====================/price=============== */
  /* ====================companies=============== */
  .companies {
    padding-top: 34px;
    max-width: 962px;
    margin: 0 auto;
  }

  .companies__icons,
  .companies__title,
  .companies__descr,
  .companies__column--mini-size {
    display: none;
  }

  .companies__column-inner {
    left: 0px;
    width: auto;
    margin-top: 34px;
    margin-bottom: 35px;
  }

  /* ====================/companies=============== */

  /* ====================Footer=============== */
  .footer__menu-link {
    display: none;
  }

  .footer__row {
    padding: 36px 20px;
  }
}

/* ====================/Footer=============== */